
#header{
	margin: -8px -8px 0px -8px;
	overflow : hidden;
	background-color: #333333;
}

#header-left{
	float: left;
	text-align: center;
	width: 25%;
}

#header-left-1{
	font-size: 200%;
	font-family: 'ABeeZee', sans-serif;
	color : white;
	text-decoration: none;
}

#header-left-1:hover{
	color : #8c8c8c;
}

#header-left-2{
	font-family: 'Pontano Sans', sans-serif;
	color : white;
}

#header-left-3{
	font-family: 'Pontano Sans', sans-serif;
	color : white;
}

#nav-bar{
	text-align: right;
	width : 75%;
	float : left;
}

#nav-items{
	padding-top: 16px;
	margin-right: 45px;
	list-style : none;
	font-family: 'Roboto', sans-serif;
}

#nav-single-item{
	display: inline;
	margin-left: 3%;
}

#nav-single-item-link{
	text-decoration: underline;
	color : #8c8c8c;
}

#nav-single-item-link-active{
	text-decoration: underline;
	color : white;
}

#nav-single-item-link:hover{
	color : white;
	text-decoration: none;
}
